.body {
	background: #000033 url(bg.jpg) !important;
	height: auto;
	font-family: helvetica, arial;
	margin: 0px;
	padding: 10px;
}

#pageContainer {
	margin: 20px 0px 0px 0px;
	padding: 0px;
}

#titleContainer {
	margin: 30px 10px 0px 10px;
	padding: 0px;
	color: white;
	font-size: 60pt;
	letter-spacing: -5pt;
}

#headContainer, #footContainer {
	margin: 0px;
	background-color: rgba(255,255,255,0.8);
	padding: 20px;
	color: #000033;
}

#bodyContainer {
	margin: 10px 0px;
	padding: 30px;
	background-color: rgba(255,255,255,0.3);
}

.incomplete {
	border: 2px solid red;
}

.gwt-Button {
	border: none !important;
	border-bottom: 5px solid white !important;
	margin: 2px !important;
	background: rgba(255, 255, 255, 0.5) !important;
	padding: 10px !important;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 6pt;
	}

.gwt-Button-hover {
	border: 1px solid red !important;
}
